.last-section {
  display: flex;
  background-color: #7ca3ff;  
  /*padding: 80px 5%;*/
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* Leva strana */
.last-section-left {
  flex: 1;
  position: relative;
  min-width: 300px;
}

.last-section-bg {
  /*width: 100%;*/
  height: auto;
}

.last-section-user {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 110%;  
  padding-bottom: 1.4%;
  height: auto;
}

/* Desna strana */
.last-section-right {
  flex: 2;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-wrapper h2 {
  font-family: "Merriweather", serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

.text-wrapper p {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.email-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.email-btn {
  display: inline-block;
  background: white;
  color: black;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 20px;
  transition: background 0.3s ease;
}

.email-btn:hover {
  background: #f2f2f2;
}

.last-section-logo {
  width: 160px;
  height: auto;
}

/* Responsive */
@media (max-width: 1160px) {
    .last-section {
    flex-direction: column;
    text-align: center;
  }

  .last-section-left {
    order: -1;
  }

  .last-section-user {
    position: relative;
    transform: none;
    left: 0;
  }

  .email-wrapper {
    align-items: center;
  }


.last-section-bg {
  display: none;

}
}


@media (max-width: 768px) {
  .last-section {
    flex-direction: column;
    text-align: center;
  }

  .last-section-left {
    order: -1;
  }

  .last-section-user {
    position: relative;
    transform: none;
    left: 0;
  }

  .email-wrapper {
    align-items: center;
  }


.last-section-bg {
  display: none;

}

}